In [37]:
import pandas as pd
import numpy as np

In [38]:
price_file = "../Price/FB.csv"
price = pd.read_csv(price_file, usecols=['Date', 'Adj Close'])

In [39]:
sec_file = "../SEC_8K/Data/8K data.h5"
sec = pd.read_hdf(sec_file)

In [40]:
twitter_file = "../Twitter/twitter.h5"
twitter = pd.read_hdf(twitter_file)

In [41]:
price = price.set_index("Date")
price.head()

            Adj Close
Date
2012-05-18  38.230000
2012-05-21  34.029999
2012-05-22  31.000000
2012-05-23  32.000000
2012-05-24  33.029999

In [42]:
col = {}
for i in range(50):
    col[i] = "sec{}".format(i)

In [43]:
sec = pd.DataFrame(sec.values.tolist(), index=sec.index).rename(columns=col)
sec.head()

,sec0,sec1,sec2,sec3,sec4,sec5,sec6,sec7,sec8,sec9,...,sec40,sec41,sec42,sec43,sec44,sec45,sec46,sec47,sec48,sec49
2012-06-25,0.403492,-1.199431,0.132970,0.316648,0.481768,-0.637601,0.735545,0.100438,0.404877,-0.594432,...,-0.352549,0.947459,1.227568,0.193733,0.216422,0.761959,-0.039660,0.663948,0.280306,-0.958587
2012-07-26,0.317928,-0.670532,-0.414336,0.698862,0.525606,-0.713975,1.212491,-0.424508,0.420412,0.124043,...,-0.495426,0.870042,0.549239,0.554414,0.328707,0.566516,0.397477,0.560907,0.051546,-0.357353
2012-09-04,2.056731,-0.373491,1.769456,0.399185,1.954762,-2.903101,2.543088,0.454259,-1.388258,1.432291,...,-0.256293,-3.724535,0.688834,-0.186197,0.907559,-1.688571,-0.231034,1.781301,2.557888,2.704398
2012-10-15,2.022744,-2.139764,0.373905,0.351427,1.427031,-0.553096,1.560566,-0.128376,1.277749,0.429789,...,-1.616373,1.923072,1.246866,1.004811,-1.625501,1.093239,-0.253766,-0.261982,0.939612,0.685963
2012-10-23,0.883834,-0.712416,-0.221853,0.418001,0.406507,-0.800336,0.929981,-0.094012,0.710542,0.138464,...,-0.632370,0.976416,0.845908,0.888584,0.048708,0.588752,0.006392,0.608637,0.413090,-0.614922

In [44]:
twitter.head()

            sentiment
date
2012-04-01   0.035836
2012-04-02   0.043281
2012-04-03   0.000000
2012-04-04  -0.004045
2012-04-05   0.085019

In [45]:
data = price.join(twitter).dropna().join(sec).fillna(0)

In [46]:
data['next_day_value'] = data['Adj Close'].shift(-14)

In [47]:
data = data.dropna()

In [48]:
data.head(20)

,Adj Close,sentiment,sec0,sec1,sec2,sec3,sec4,sec5,sec6,sec7,...,sec41,sec42,sec43,sec44,sec45,sec46,sec47,sec48,sec49,next_day_value
Date,,,,,,,,,,,,,,,,,,,,,
2012-05-18,38.230000,-0.076487,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.100000
2012-05-21,34.029999,0.043950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.010000
2012-05-22,31.000000,-0.182019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.400000
2012-05-23,32.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.270000
2012-05-24,33.029999,-0.126471,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.290001
2012-05-25,31.910000,0.066473,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.010000
2012-05-29,28.840000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.410000
2012-05-30,28.190001,0.208429,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.910000
2012-05-31,29.600000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.600000
2012-06-01,27.719999,0.037900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.840000
2012-06-04,26.900000,0.069154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.049999
2012-06-05,25.870001,-0.124035,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.060001
2012-06-06,26.809999,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.099998
2012-06-07,26.309999,0.039940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.230000
2012-06-08,27.100000,0.084425,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.360001
2012-06-11,27.010000,0.070820,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.100000
2012-06-12,27.400000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.770000
2012-06-13,27.270000,0.102120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.200001
2012-06-14,28.290001,0.154394,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.469999
2012-06-15,30.010000,0.190435,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.730000

In [49]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [50]:
train, test = train_test_split(data, test_size=0.3, shuffle=False)
train = train.copy()
test = test.copy()

In [51]:
scaler = MinMaxScaler(feature_range=(-1,1))
scaler.fit(train["Adj Close"].values.reshape(-1,1))
test["Adj Close"] = scaler.transform(test["Adj Close"].values.reshape(-1,1))
test["next_day_value"] = scaler.transform(test["next_day_value"].values.reshape(-1,1))
train["Adj Close"] = scaler.transform(train["Adj Close"].values.reshape(-1,1))
train["next_day_value"] = scaler.transform(train["next_day_value"].values.reshape(-1,1))

In [52]:
data.to_hdf("../agg_data_two_weeks.h5", key='df', mode='w')
train.to_hdf("../train_two_weeks.h5", key='df', mode='w')
test.to_hdf("../test_two_weeks.h5", key='df', mode='w')

In [53]:
from sklearn.externals import joblib
scaler_filename = "../scaler_two_weeks.save"
joblib.dump(scaler, scaler_filename)

['../scaler_two_weeks.save']